:root {
    --main: #FCDF1A;
    --secondary: #4F3302;
    --bg: #FFEFCE;
    --bg-topnav: #795A42;
    --green: #2D9812;
}

.App {
    background-color: var(--bg);
    color: var(--secondary);
}

.home>* {
    padding-left: 1vw;
}

.logo {
    height: 20vmin;
}

.header {
    min-height: 10vh;
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(10px + 2vmin);
    background: var(--bg-topnav);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1vh 2vh 2vh;
}

.link {
    color: var(--secondary);
    text-decoration: none;
}

.review {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 25px;
    width: 100vw;
    margin: 5px;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.leftImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.images {
    display: flex;
    justify-content: space-around;
}

.ImgDesc {
    display: block;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 600px) {
    .review {
        width: auto;
    }

    .ImgDesc {
        text-align: center;
        margin: 1px;
    }

    .whitespace {
        padding: 10px;
    }
}