:root {
    --main: #FCDF1A;
    --secondary: #4F3302;
    --bg: #FFEFCE;
    --bg-topnav: #795A42;
    --green: #2D9812;
}

.App {
    background-color: var(--bg);
    height: 100vh;
    color: var(--secondary);
}

.home>* {
    padding-left: 1vw;
}

.logo {
    height: 20vmin;
}

.header {
    min-height: 10vh;
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(10px + 2vmin);
    background: var(--bg-topnav);
    box-shadow: 0 4vh 8vh 0 rgba(0, 0, 0, 0.2),
        0 6vh 20vh 0 rgba(0, 0, 0, 0.19);
    margin: 1vh 2vh 2vh;
}

.link {
    color: var(--secondary);
    text-decoration: none;
}

.topNav {
    width: 10vh;
}


/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */