@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
    --main: #FCDF1A;
    --secondary: #4F3302;
    --bg: #FFEFCE;
    --bg-topnav: #795A42;
    --green: #2D9812;
}

body {
    background-color: var(--bg);
    color: var(--secondary);
    margin: 0;
    font-family: 'Ubuntu';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}