.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    margin: 5px;
    width: 100vw;
}

.sosmed {
    display: flex;
}

.sosmedIcon {
    width: 20px;
}

@media screen and (min-width: 600px) {
    .person {
        width: auto;
        padding: 10vw;
        font-size: calc(5px + 2vmin);
    }

    .sosmed {
        justify-content: space-around;
    }

    .sosmedIcon {
        width: 5vmin;
    }
}