.contacts {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.person {
    box-shadow: 0 4vh 8vh 0 rgba(0, 0, 0, 0.2),
        0 6vh 20vh 0 rgba(0, 0, 0, 0.19);
    padding: 10vw;
    margin: 0 2vw;
}

.sosmed {
    display: flex;
    margin-top: 1vh;
}

.sosmedIcon {
    width: 2.5vh;
    margin: 0 0.25vh;
}